[submodule "cumm"]
    path = cumm
    url = https://github.com/FindDefinition/cumm.git

[submodule "spconv"]
    path = spconv
    url = https://github.com/traveller59/spconv.git

[submodule "SceneFlowZoo"]
path = src/SceneFlowZoo
url = https://github.com/kylevedder/SceneFlowZoo.git