absl-py
addict
antlr4-python3-runtime
asttokens
attrs
blinker
certifi
charset-normalizer
click
comm
ConfigArgParse
contourpy
cycler
dash
decorator
exceptiongroup
executing
fastjsonschema
filelock
Flask
fonttools
fsspec
grpcio
h5py
idna
importlib_metadata
ipython
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_core
jupyterlab_widgets
kiwisolver
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mpmath
narwhals
nbformat
nest-asyncio
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
omegaconf
open3d
opencv-python
packaging
pandas
parso
pexpect
pillow
platformdirs
plotly
-e git+https://github.com/turswiming/gan_seg.git@401e58f0e56ff4f7c5d745157800fddbec30c141#egg=pointnet2&subdirectory=src/pointnet2
prompt_toolkit
protobuf
ptyprocess
pure_eval
Pygments
pyparsing
pyquaternion
python-dateutil
pytz
PyYAML
referencing
requests
retrying
rpds-py
scikit-learn
scipy
six
stack-data
sympy
tensorboard
tensorboard-data-server
threadpoolctl
torch
torch-tb-profiler
tqdm
traitlets
triton
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
widgetsnbextension
zipp
