__base__: "baseconfig.yaml"
seed: 42
log:
  name: "defaultname"
  dir: "" # default save to /output/exp
  tensorboard_log_interval: 7  # Log losses every N steps

checkpoint:
  resume: true          # 是否从断点恢复
  resume_path: "/workspace/gan_seg/outputs/exp/20251029_222226/checkpoints/step_2400.pt"
  overwrite_flow_predictor: false
  overwrite_flow_path: "/workspace/epoch=23.ckpt"
  save_every_iters: 300
model:
  flow:
    name: "FlowStep3D"
    lr: 1e-7
    FastFlow3D:
      VOXEL_SIZE: [0.2, 0.2, 6]
      PSEUDO_IMAGE_DIMS: [512, 512]
      POINT_CLOUD_RANGE: [-51.2, -51.2, -3, 51.2, 51.2, 3]
      FEATURE_CHANNELS: 32
      SEQUENCE_LENGTH: 2
  mask:
    name: "MaskFormer3D"
    lr: 1e-3
    weight_decay: 0.0
    slot_num: 10

dataset:
  name: "KITTISF_new"
  AV2_SceneFlowZoo:
    root_dir: "/workspace/av2data/train"
    subsequence_length: 2
    sliding_window_step_size: 1
    with_ground: false
    with_rgb: false
    eval_type: "bucketed_epe"
    expected_camera_shape: (194, 256, 3)
    cache_root: "/workspace/av2data/cache"
    use_gt_flow: false
    flow_data_path: "/workspace/av2flow/train/"
    downsample_factor: 8
  KITTISF_new:
    data_root: "/workspace/kittisf_downwampled/kittisf_downsampled/data"
    num_points: 8192
    seed: 42
  val_name: "KITTISF_new"
  AV2_SceneFlowZoo_val_flow:
    root_dir: "/workspace/av2data/val"
    with_ground: false
    with_rgb: false
    eval_type: "bucketed_epe"
    expected_camera_shape: (194, 256, 3)
    use_gt_flow: true
    cache_root: "/workspace/av2data/cache"
    flow_data_path: "/workspace/av2flow/val/"
    eval_args_output_path: "eval_results/bucketed_epe/nsfp_distillation_1x/"
  AV2_SceneFlowZoo_val_mask:
    root_dir: "/workspace/av2data/val"
    with_ground: false
    with_rgb: false
    eval_type: "bucketed_epe"
    expected_camera_shape: (194, 256, 3)
    use_gt_flow: false
    cache_root: "/workspace/av2data/cache"
    flow_data_path: "/workspace/av2flow/val/"
    eval_args_output_path: "eval_results/bucketed_epe/nsfp_distillation_1x/"

lr_multi:
  rec_loss: 10
  flow_loss: 0.0
  scene_flow_smoothness: 10
  rec_flow_loss: 0.0
  point_smooth_loss: 0.1
  eular_flow_loss: 0.0
  KDTree_loss: 0
  KNN_loss: 1
  l1_regularization: 0.0
  eular_mask_loss: 0
  scene_flow_smoothness_scheduler:
    begin_iter: 0
    end_iter: 8000
    begin_value: 1.0
    end_value: 1.0

# alternate:
#   flow: [[50,false],[50,true]]
#   mask: [[50,true],[50,false]]
training:
  max_iter: 300000
  eval_loop: 100
  begin_train_smooth: 0
  begin_train_point_smooth: 0
  begin_train_flow: 0
  begin_train_mask: 0
  begin_train_invariance: 2500
  mask_downsample_factor: 2
  augment_params:
    angle_range: [-0.7, 7]
    translation_range: [1, 0,1]
    scale_range: [0.95, 1.05]
    mirror_x: true
    mirror_z: false
dataloader:
  batchsize: 4
  num_workers: 0
loss:
  scene_flow_smoothness:
    scale_flow_grad: 0.001
    each_mask_item:
      relative_gradient: 1
      criterion: "L2"
    sum_mask_item:
      relative_gradient: 0
      criterion: "L2"
  point_smooth_loss:
    knn_loss_params:
      k: 32
      radius: 1
      loss_norm: 1
    ball_q_loss_params:
      k: 64
      radius: 2
      loss_norm: 1
  knn:
    k: 1
    reduction: "mean"
    distance_max_threshold: 2
    distance_min_threshold: 0.0
vis:
  show_window: false
  debug_grad: false

eval:
  eval_size: 100
  min_points: 25